<div id="mainContent">
    <div class="mainTitle noSelect mainTitleNoBackLink">
        <img class="ravenSvg" src="/assets/raven.svg">Leaderboard
        <mat-form-field>
            <mat-select class="yearSelect" placeholder="Year" [(ngModel)]="year" (ngModelChange)="onYearChanged()">
                <mat-option *ngFor="let year of years" [value]="year">
                    {{year}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button class="floatRight" [disabled]="loading || doingXlsx" (click)="download()">Download</button>
    </div>
    <div class="loading" *ngIf="loading">Loading...</div>
    <div class="allStats" *ngIf="!loading">
        <!-- <h3>{{totalGames}} total tournaments in {{year}}</h3> -->
        <div class="note" *ngIf="year == 2017">Please note:  Full stats (eliminations, bounties, high hands) began in 2018.  We have stats for all winners in 2017, but we do not have a full list of partcipants for each game in 2017.  From mid September of 2017 on, we have a full list of players for each game, but we do not have the detailed data.</div>
        <raven-stat-group class="stat" *ngFor="let stat of stats" [stat]="stat" [data]="players" [averages]="averages"></raven-stat-group>
    </div>
</div>