@import '../scssimports/variables';

$size: 24px;

mat-form-field {
    width: 70px;
    font-size: 16px;
    margin-left: 12px;
}

.allStats {
    margin: 1.2em 0 0 1em;
    font-size: calc(11px + .25vw);
}

.stat {
    display: block;
}

// .active {
//     color: $red;
// }

// .header, .player {
//     display: grid;
//     grid-gap: 3px;
//     grid-template-columns: repeat(7, 1fr);
// }

// .header {

//     margin-bottom: 3px;

//     .stat {
//         font-family: 'Ubuntu', sans-serif;
//         font-weight: 400;
//         cursor: pointer;
//     }
// }

// .player {
//     margin-bottom: 2px;
// }

// .text {

// }

// .numb {
//     text-align: right;
// }

.note {
    font-size: 12px;
    margin: 12px 0 24px;
}

// ul {
//     font-size: 13px;
//     -webkit-margin-start: -24px;
// }


// .player {
//     font-size: calc(13px + .2vw);
//     margin-top: 8px;
// }

// .topPlayer {
//     font-family: 'Ubuntu', sans-serif;
// }

// .avatar, .name, .points {
//     display: inline-block;
//     vertical-align: middle;
// }

// .points {
//     text-align: right;
//     width: 22px;
// }

// .avatar {
//     width: $size;
//     margin-right: 10px;
// }

// .name {
//     width: 170px;
// }

// @media screen and (max-width: $smallerBreak) {
    // .name {
    //     width: 128px;
    // }
// }