@import "../../scssimports/variables";

.title {
    font-size: 14px;

    .buyins {
        // text-align: center;
    }

    .hh {
        // text-align: right;
    }
}

mat-slide-toggle {
    margin-top: 6px;
}

.playerTitle {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 2fr 40px 1fr 1fr 54px;
}

.knockoutTitle {
    margin-top: 30px;
}

.playersSelected {
    width: calc(50% + 6px); // 6px is 3px * 2 - padding to match .player
    margin: 8px 0;
    font-size: 13px;
    color: #333;
    line-height: 34px;
}

.buttonHolder {
    margin-top: 26px;
    // text-align: center;
}

.nameHolder,
.notesHolder {
    display: block;
    margin: 32px auto 8px;
    width: 80%;
}

.notesSaved {
    margin: 0 auto 20px;
    width: 80%;
    font-size: 13px;
    color: #888;
}

mat-slide-toggle {
    // margin: 0 20px;
    margin-bottom: 18px;
}

#hhHolder {
    max-width: 700px;
    margin: 0 auto;
}

@media screen and (max-width: $menuBreak + 140) {
    .playersSelected {
        width: calc(80% + 6px);
    }
}
