<div id="mainContent" *ngIf="myGame">
    <div class="mainTitle noSelect">
        <img class="ravenSvg" src="/assets/raven.svg" />Edit Game -
        {{ myGame.date | date }}
        <span *ngIf="gamePot != '-'">- {{ gamePot }}</span>
    </div>
    <a class="backLink noSelect" routerLink="../../"
        ><i class="material-icons">keyboard_arrow_left</i>Back to all games</a
    >
    <div class="title">Chips in play:</div>
    <div>{{ totalChips | number: "1.0" }}</div>
    <div *ngIf="myGame.s == 0">
        <mat-slide-toggle
            name="inactive"
            [color]="'primary'"
            (change)="onToggleChange($event)"
        >
            Show Inactive Players
        </mat-slide-toggle>
        <div class="players">
            <raven-edit-pre-game-player
                [player]="player"
                (togglePlayer)="onTogglePlayer($event)"
                *ngFor="let player of playersToChoose"
            ></raven-edit-pre-game-player>
        </div>
        <div class="playersSelected">
            {{ myGame.entries.length }} player<span
                *ngIf="myGame.entries.length != 1"
                >s</span
            >
            selected.
        </div>
        <div class="buttonHolder">
            <!-- <button mat-button *ngIf="gameIsTodayOrOlder" (click)="advanceGameState()"> -->
            <button mat-button (click)="advanceGameState()">
                Start Game
            </button>
        </div>
    </div>
    <div *ngIf="myGame.s == 1">
        <div class="title playerTitle">
            <div>Player</div>
            <div></div>
            <div class="buyins">Buyins</div>
            <div class="hh">H.H.</div>
            <div></div>
        </div>
        <raven-edit-in-game-player
            [player]="player"
            [entries]="myGame.entries"
            [knockouts]="knockouts"
            [updates]="updates"
            (rebuyPlayer)="onRebuyPlayer($event)"
            *ngFor="let player of gamePlayers"
        ></raven-edit-in-game-player>
        <button mat-button (click)="managePlayers()">
            Add/Removed Players
        </button>
        <div class="title knockoutTitle">New Elimination:</div>
        <raven-edit-game-knockout-player
            [playersAlive]="playersAlive"
            [gameId]="gameId"
            (registerKnockout)="onKnockout($event)"
        ></raven-edit-game-knockout-player>
        <div class="title knockoutTitle">Eliminations:</div>
        <raven-edit-game-knockout
            [knockout]="knockout"
            [gameId]="gameId"
            [index]="i"
            [adjustingKnockouts]="adjustingKnockouts"
            (knockoutRemoved)="onKnockoutRemoved($event)"
            (requestMove)="onKnockoutMoveRequested($event)"
            *ngFor="let knockout of knockouts; let i = index"
        ></raven-edit-game-knockout>
        <div class="buttonHolder">
            <button mat-button (click)="advanceGameState()">
                Complete Game
            </button>
        </div>
    </div>
    <div *ngIf="myGame.s > 1">
        <div class="title">Players:</div>
        <raven-edit-finalize-game-player
            [i]="i"
            [player]="player"
            [entries]="myGame.entries"
            [knockouts]="knockouts"
            [updates]="updates"
            (updatePlayerPoints)="onUpdatePlayerPoints($event)"
            *ngFor="let player of gamePlayers; let i = index"
        ></raven-edit-finalize-game-player>
        <div class="buttonHolder">
            <button
                mat-button
                (click)="advanceGameState()"
                *ngIf="myGame.s == 2"
            >
                Finalize Game
            </button>
        </div>
    </div>
    <mat-form-field class="nameHolder" *ngIf="myGame.s > 0">
        <input
            matInput
            placeholder="Name"
            name="name"
            type="text"
            [(ngModel)]="myGame.name"
            (ngModelChange)="notesChanges()"
        />
    </mat-form-field>
    <form *ngIf="myGame.s > 0">
        <mat-form-field class="notesHolder">
            <textarea
                matInput
                placeholder="Game notes"
                name="notes"
                rows="16"
                [(ngModel)]="myGame.n"
                (ngModelChange)="notesChanges()"
            ></textarea>
        </mat-form-field>
    </form>
    <div class="notesSaved" *ngIf="notesSaved">
        Name / notes saved: {{ notesSaved | date: "hh:mm:ss:a" }}
    </div>
    <div id="hhHolder">
        <div class="title" *ngIf="myGame.s > 0">High Hand:</div>
        <raven-edit-high-hand
            [gameId]="myGame._id"
            [players]="gamePlayers"
            *ngIf="myGame.s > 0"
        ></raven-edit-high-hand>
    </div>
</div>
