<div id="mainContent">
    <div class="mainTitle noSelect mainTitleNoBackLink">
        <img class="ravenSvg" src="/assets/raven.svg">Opps!<i class="material-icons">sentiment_dissatisfied</i>
    </div>
    <p>The page you were looking for could not be found.</p>
    <p>It's probably Archie's fault.</p>
</div>