<div class="box" (window:resize)="onResize()">
	<div class="content" [ngClass]="{imageRound: round, fadedOut: faded}" [id]="myContId">
        <img [ngClass]="{imageOff: !imageSet, imageTaller: imageTaller, imageWider: !imageTaller}" [ngStyle]="imgStyle" [src]="image" [id]="myImageId" (load)="imageLoaded()">
    </div>
    <raven-file-catcher [acceptedType]="'image'" [onlyOneFile]="true" (receiveFile)="onReceiveFile($event)" *ngIf="acceptPhoto && !uploadingImage"></raven-file-catcher>
</div>