.box{
	position: relative;
    width: 100%;
    overflow: hidden;
}

.box:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: #cecece;
}

.fadedOut {
    opacity: .4;
}

.imageOff {
    opacity: 0;
}

.imageTaller {
    width: 100%;
    height: auto !important;
}

.imageWider {
    position: absolute;
    height: 100%;
}

.imageRound {
    border-radius: 50%;
}