
// .selectDate {
//     color: #333;
//     margin-bottom: 8px;
// }

mat-form-field {
    width: 70px;
    font-size: 16px;
    margin-left: 12px;
}

.selectText {
    font-size: 14px;
    margin-bottom: 8px;
}

.dpContainer {
    width: 100%;
    max-width: 400px;
}