<div id="mainContent">
    <div class="mainTitle noSelect">
        <img class="ravenSvg" src="/assets/raven.svg">New Game
        <mat-form-field>
            <mat-select class="yearSelect" placeholder="Year" floatPlaceholder="never" [(ngModel)]="year" name="year" (ngModelChange)="onYearChanged()">
                <mat-option *ngFor="let year of years" [value]="year">
                    {{year}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <a class="backLink noSelect" routerLink="../"><i class="material-icons">keyboard_arrow_left</i>Back to all games</a>
    <div class="selectText noSelect">Select a Saturday in {{year}} for the game:</div>
    <div class="dpContainer" *ngIf="year && existingDatesLoaded">
        <raven-date-picker [year]="year" [existingDates]="existingDates" (dateChanged)="onDateChanged($event)"></raven-date-picker>
    </div>
</div>