<div id="mainContent">
    <div class="mainTitle noSelect">
        <img class="ravenSvg" src="/assets/raven.svg">New Player
    </div>
    <a class="backLink noSelect" routerLink="../"><i class="material-icons">keyboard_arrow_left</i>Back to all players</a>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div *ngFor="let item of items; let f = first;" class="row">
            <mat-form-field class="full-width">
                <input matInput [placeholder]="item.label" [formControlName]="item.key" [id]="item.key" [name]="item.key" [type]="item.type">
                <!-- <input matInput email [placeholder]="item.label" [formControlName]="item.key" [id]="item.key" [name]="item.key" [type]="item.type" *ngIf="item.type == 'email'"> -->
            </mat-form-field>
        </div>
        <div class="row">
            <button mat-button class="floatRight" type="submit" [disabled]="!form.valid || formSubmitting">
                <span [innerHTML]="buttonText"></span>
            </button>
        </div>
        <div class="row errorMessage" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
    </form>
</div>