<div class="box" (window:resize)="onResize()" [id]="myContId">
	<div class="content" [ngClass]="{imageRound: round, fadedOut: faded}">
        <img [ngClass]="{imageOff: !imageSet, useWidth: useWidth, useHeight: !useWidth}" [ngStyle]="imgStyle" [src]="image" [id]="myImageId" (load)="imageLoaded()">
    </div>
</div>