#selected {
    margin: 1em 0;
}

#players {
    margin: 1em 0;
}

.player {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 160px 120px;
    margin-bottom: 6px;
    line-height: 26px;

    button {
        height: 26px;
        line-height: 26px;
    }
}

.selected {
    // color: #9e0000;
    font-weight: bold;
}

.unselected {
    color: #777;
}
