<div id="mainContent" *ngIf="myGame">
    <mat-slide-toggle
        name="inactive"
        [color]="'primary'"
        [disabled]="working"
        (change)="onToggleChange($event)"
    >
        Show Inactive Players
    </mat-slide-toggle>
    <div id="selected">{{ playersSelected }} Players Selected</div>
    <div id="players" *ngIf="myGame.s == 1 || myGame.s == 2">
        <div class="player" *ngFor="let player of players">
            <div
                [class.selected]="player.selected"
                [class.unselected]="!player.selected"
            >
                {{ player?.first }} {{ player?.last }}
            </div>
            <button
                mat-raised-button
                (click)="adjustPlayer(player)"
                [disabled]="working"
                *ngIf="!player?.cannotRemove"
            >
                <ng-container *ngIf="!player?.selected">Add</ng-container>
                <ng-container *ngIf="player?.selected">Remove</ng-container>
            </button>
        </div>
    </div>
    <button mat-raised-button (click)="backToGame()" [disabled]="working">
        Return to Game
    </button>
</div>
