
// a {

//     display: block;
//     font-size: 13px;
//     margin: -10px 0 20px 0;

//     i {
//         font-size: 16px;
//         vertical-align: bottom;
//     }
// }

// form {
//     max-width: 500px;
//     // max-width: $maxWidthLogin;
//     // margin: 0 auto;
//     font-family: 'Open Sans', sans-serif;
//     font-size: 1em;
// }

// .row {
//     // margin-top: 4px;
// }

// .full-width {
//     width: 100%;
// }

// input:-webkit-autofill {
//     box-shadow: 0 0 0 50px #eee inset;
// }

// .errorMessage {
//     font-size: 13px;
//     color: #b92f2f;
// }