<div id="mainContent">
    <div class="mainTitle noSelect">
        <img class="ravenSvg" src="/assets/raven.svg">New Announcement
    </div>
    <a class="backLink noSelect" routerLink="../"><i class="material-icons">keyboard_arrow_left</i>Back to all announcements</a>
    <form>
        <mat-form-field class="newMessageHolder">
            <textarea matInput placeholder="New announcement..." [(ngModel)]="newAnnouncementText" name="newMessage"></textarea>
        </mat-form-field>
    </form>
    <div class="buttonHolder">
        <button mat-button class="floatRight" (click)="addNewAnnouncement()" [disabled]="newAnnouncementText == '' || submitting">Send</button>
    </div>
</div>