<div class="mainTitle noSelect mainTitleNoBackLink" *ngIf="displayDate">
    <img class="ravenSvg" src="/assets/raven.svg" />Results for
    {{ displayDate | date: "mediumDate" }}
</div>
<div class="nameText" *ngIf="game?.name">{{ game?.name }}</div>
<div class="game" *ngIf="game">
    <div class="winners">
        <raven-home-big-winner class="winner" [entry]="entry" *ngFor="let entry of winningEntries">
        </raven-home-big-winner>
    </div>
    <div class="hhHolder">
        <div class="highHandTitle">
            High Hand - {{ higHandPot | currency: "USD":"symbol":"1.0" }}:
        </div>
        <raven-high-hand [hand]="hand" [linkUpTwo]="true" [displayHand]="true" [needsSorting]="true"
            *ngFor="let hand of highHands"></raven-high-hand>
    </div>
    <div class="notes" *ngIf="game?.n">
        <div class="notesTitle">Game notes:</div>
        <div class="notesText" [innerHTML]="game.n" *ngIf="game.n"></div>
    </div>
    <div class="click" *ngIf="game">
        <a routerLink="./games/{{ game._id }}">[ View game details ]</a>
    </div>
</div>