@import "../../scssimports/variables";

$max: 480px;

.game {
    margin: 1em 0 0;
}

.winners {
    max-width: $max;
    display: grid;
    margin: 0 auto;
    grid-gap: 6px;
    grid-template-columns: repeat(2, 1fr);
}

// .winner, .notes {
//     display: inline-block;
//     vertical-align: top;
//     width: 24%;
//     overflow: hidden;
// }

// .winner {
//     margin-right: 28px;
//     background-color: #fff;
//     box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
//     border-radius: 6px;
// }

.nameText {
    // font-size: 24px;

    font-size: calc(22px + 0.4vw);
    font-weight: bold;
    // margin-bottom: 6px;
    margin: 1.6em 0 1.2em;
    text-align: center;
}

.notes {
    // margin-top: 1em;
    // max-width: $max;
    // margin-bottom: 2em;
    max-width: 90%;
    margin: 2em auto;
}

.notesTitle,
.highHandTitle {
    // color: #777;
    // font-size: calc(11px + .1vw);
    // margin-bottom: 4px;
    margin-top: 1em;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: calc(13px + 0.25vw);
    margin-bottom: 8px;
}

.notesText {
    color: #000;
    font-size: calc(10px + 0.28vw);
}

.hhHolder {
    max-width: $max;
    // margin-top: 14px;
    margin: 22px auto;
}

// .highHandTitle {
// color: #777;
// font-size: calc(11px + .1vw);
// font-family: 'Ubuntu', sans-serif;
// font-weight: 400;
// margin: 1em 0 .4em;
// font-size: 1em;
// }

.click {
    color: #777;
    font-size: calc(12px + 0.2vw);
    margin-top: 1.2em;
    text-align: center;
}

@media screen and (max-width: 770px) {
    .winners {
        // margin-left: auto;
        // margin-right: auto;
        width: 72%;
        grid-template-columns: repeat(1, 1fr);
    }

    .notes {
        // display: block;
        // margin: 26px auto;
        width: 72%;
        margin-left: auto;
        margin-right: auto;
    }

    .notes {
        margin: 0 auto;
        // width: 64%;
    }

    .hhHolder,
    .click {
        width: 72%;
        margin-left: auto;
        margin-right: auto;
    }
}
