<div class="player" [ngClass]="{selected: player.selected, unselected: !player.selected, saving: player.saving, useHand: !player.saving}"
    (click)="onClick()">
    <div class="avatar">
        <raven-avatar [image]="player.afile" [round]="false" *ngIf="player.afile"></raven-avatar>
    </div>
    <div class="name">
        {{player.first}} {{player.last}}
        <span *ngIf="player.saving"> (saving)</span>
    </div>
</div>