@import '../../../scssimports/variables';

$spacing: 3px;

.player {
    margin-bottom: $spacing;
    padding: $spacing;
    width: 50%;
    border-radius: $spacing;
}

.unselected {
    background-color: #ddd;
    color: #333;

    &:hover {
        background-color: #ccc;
    }
}

.selected {
    background-color: #fff;
    color: #000;

    &:hover {
        background-color: #ccc;
    }
}

.avatar {
    display: inline-block;
    vertical-align: top;
    width: 40px;
}

.name {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 55px);
    line-height: 40px;
    margin-left: $spacing * 2;
}

@media screen and (max-width: $menuBreak + 140) {
    .player {
        width: 100%;
    }
}
