

.month {
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    font-size: calc(7px + .55vw);
}

.monthText {
    width: 33%;
    padding: 5px 0;
}

.days {
    width: 67%;
}

.innerDays {
    display: flex;
    justify-content: space-between;
}

.day {
    width: 16%;
}