<div class="month">
    <div class="monthText noSelect">{{monthText}}</div>
    <div class="days">
        <div class="innerDays">
            <raven-date-picker-day class="day" *ngFor="let day of days" [myDate]="day" [existingDates]="existingDates" [creatingGame]="creatingGame" (dateChosen)="onDateChosen($event)"></raven-date-picker-day>
        </div>
    </div>
</div>