@import '../../scssimports/variables';

.holder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

svg {
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

@media screen and (max-width: 440px) {
    svg {
        font-size: 11px;
    }
}