<div id="mainContent">
    <div class="mainTitle noSelect">
        <img class="ravenSvg" src="/assets/raven.svg">Edit Announcement
    </div>
    <a class="backLink noSelect" routerLink="../../"><i class="material-icons">keyboard_arrow_left</i>Back to all announcements</a>
</div>