<div id="mainContent">
    <div class="mainTitle noSelect mainTitleNoBackLink">
        <span><img class="ravenSvg" src="/assets/raven.svg">High Hands</span>
        <mat-form-field>
            <mat-select class="yearSelect" placeholder="Year" floatPlaceholder="never" [(ngModel)]="year" name="year" (ngModelChange)="onYearChanged()">
                <mat-option *ngFor="let year of years" [value]="year">
                    {{year}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="loading" *ngIf="loading">Loading...</div>
    <div class="allHands" *ngIf="!loading">
        <raven-high-hand class="hand" [hand]="hand" [linkUpTwo]="false" [displayHand]="false" [needsSorting]="true" *ngFor="let hand of sortedHands"></raven-high-hand>
    </div>
</div>