@import '../scssimports/variables';

mat-form-field {
    width: 70px;
    font-size: 16px;
    margin-left: 12px;
}

.allHands {
    margin-top: 1.4em;
}

.hand {
    margin-bottom: 1em;
    display: block;
}
