// @import '../../scssimports/variables';

.announcement {
    width: 90%;
    margin: 0 0 2.4em 1em;
}

.date {
    color: #777;
    font-size: calc(11px + .1vw);
    margin-bottom: 4px;
}

.message {
    color: #222;
    font-size: 18px;
    font-size: calc(11px + .2vw);
}

.viewAll {
    display: inline-block;
    font-size: 12px;
    margin-top: 1.2em;
}