<div class="mainTitle noSelect mainTitleNoBackLink" *ngIf="announcement">
    <img class="ravenSvg" src="/assets/raven.svg">Latest Announcement
</div>
<div class="announcement" *ngIf="announcement">
    <div class="date">{{announcement.date | date:'medium'}}</div>
    <div class="message">{{announcement.text}}</div>
    <a class="viewAll" routerLink="announcements">View all announcements</a>
</div>