// heights
$logoHolderHeight: 6em;

// widths
$menuWidth: 260px;
$leftWidth: 177px;
$inputWidthSmackAnn: 80%;
// $inputMinWidthSmackAnn: 200px;

// colors
$red: #9e0000;
$darkGrey: #333;
$penBlue: #424fbc;

// $online: #28ff01;
$online: #26b60b;

// z indices
$menuZ: 100;

$menuBreak: 700px;
$smallerBreak: 460px;
$menuLeftPad: 1.8em;
