$width: 65%;
$maxWidthLogo: 460px;
$widthBonus: 60%;
$maxWidthBonus: 416px;
$maxWidthLogin: 360px;

.logo, .bonus {
    width: $width;
    max-width: $maxWidthLogo;
    margin: 5em auto .75em;
    display: block;
}

.bonus {
    width: $widthBonus;
    max-width: $maxWidthBonus;
    margin: 0 auto 4em;
}

form {
    width: $width;
    max-width: $maxWidthLogin;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.row {
    // margin-top: 4px;
}

.full-width {
    width: 100%;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 50px #f3f5f7 inset;
}

button {
    width: 140px;
}

.errorMessage {
    font-size: 13px;
    color: #b92f2f;
}