<raven-logo class="logo"></raven-logo>
<div class="bonus">
    <img src="/assets/bonus.svg" />
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let item of items; let f = first" class="row">
        <mat-form-field class="full-width">
            <input
                matInput
                [placeholder]="item.label"
                [formControlName]="item.key"
                [id]="item.key"
                [name]="item.key"
                [type]="item.type"
            />
        </mat-form-field>
    </div>
    <div class="row">
        <button
            mat-button
            class="floatRight"
            type="submit"
            [disabled]="!form.valid || formSubmitting || noPassword"
        >
            <span [innerHTML]="buttonText"></span>
        </button>
    </div>
    <div class="row errorMessage" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
</form>
