.yearPot {
    margin: 1em 1.8em;
    margin-bottom: 0;
}

.ypTitle {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin-bottom: .15em;
}

.images {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 22px);
    grid-template-rows: 1fr;
}

.svgHolder {

    position: relative;
    width: 22px;
    height: 45px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}