<div class="yearPot">
    <div class="ypTitle">Yearly Pot</div>
    <div class="images">
        <!-- <div class="svgHolder">
            <img class="ravenSvg" src="/assets/digital/color/d.svg">
        </div> -->
        <div class="svgHolder">
            <img class="ravenSvg" src="/assets/digital/gray/8.svg">
            <img class="ravenSvg" [src]="'/assets/digital/color/' + images.d" *ngIf="images.d">
        </div><div class="svgHolder">
            <img class="ravenSvg" src="/assets/digital/gray/8.svg">
            <img class="ravenSvg" [src]="'/assets/digital/color/' + images.c" *ngIf="images.c">
        </div><div class="svgHolder">
            <img class="ravenSvg" src="/assets/digital/gray/8.svg">
            <img class="ravenSvg" [src]="'/assets/digital/color/' + images.b" *ngIf="images.b">
        </div><div class="svgHolder">
            <img class="ravenSvg" src="/assets/digital/gray/8.svg">
            <img class="ravenSvg" [src]="'/assets/digital/color/' + images.a" *ngIf="images.a">
        </div>
    </div>
</div>