<div class="player">
    <a routerLink="{{player._id}}">
        <div class="avatar">
            <div class="avaHighlight" *ngIf="player.online"></div>
            <raven-avatar [image]="player.afile" [round]="true" *ngIf="player.afile"></raven-avatar>
        </div><div [ngClass]="{online: player.online}">
            <div class="name">
                {{player.first}}<span *ngIf="extraName"> "{{extraName}}"</span> {{player.last}}
            </div>
        </div>
    </a>
    <div class="playerBg"></div>
</div>