@import '../../scssimports/variables';

$bgGap: 4px;
$bgGap2: $bgGap * 2;

$hoverGap: 7px;
$hoverGap2: $hoverGap * 2;

.player {

    font-size: calc(10px + .25vw);
    text-align: center;

    &:hover .playerBg {
        top: $hoverGap * -1;
        left: $hoverGap * -1;
        right: $hoverGap * -1;
        padding-top: calc(100% + #{$hoverGap2});
        background-color: #fff;
    }

    a:hover {
        text-decoration: none;
    }
}

.playerBg {

    position: absolute;
    top: $bgGap * -1;
    left: $bgGap * -1;
    right: $bgGap * -1;
    padding-top: calc(100% + #{$bgGap2});
    border-radius: 100%;
    background-color: rgb(218, 218, 218);
    z-index: -1;

    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
}

.avatar {
    position: relative;
}

.online .material-icons {
    color: $online;
}

.material-icons {
    vertical-align: middle;
}

.name {
    margin-top: 4px;
}

@media screen and (max-width: 600px) {
    .player {
        font-size: calc(12px + .2vw)
    }
}


@media screen and (max-width: 350px) {
    .player {
        font-size: calc(12px + .3vw)
    }
}