<div class="outer">
    <raven-date-picker-month *ngFor="let month of months" [month]="month" [existingDates]="existingDates" [mostSaturdays]="mostSaturdays" [creatingGame]="creatingGame" (dateChosen)="onDateChosen($event)"></raven-date-picker-month>
</div>