@import '../../../scssimports/variables';

// $buttonW: 60px;
// $buttonH: 24px;
$bountyW: 20px;

$controlsIconF: 16px;
$controlsIconW: 18px;
$controlsGap: 3px;
$controlsFullW: ($controlsIconW * 3) + ($controlsGap * 2);

.knockout {

    // line-height: $buttonH;
    line-height: $controlsIconW;
    margin-top: 8px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr $bountyW $controlsFullW;
    padding-right: 5px;

    // .mat-button {
    //     height: $buttonH;
    //     line-height: $buttonH;
    //     width: $buttonW !important;
    //     max-width: $buttonW !important;
    //     padding: 0px 5px;
    // }
}

.player, .bounty {
    // display: inline-block;
    // vertical-align: top;
    // width: 47%;
    // max-width: 150px;
    font-size: calc(11px + .2vw);
}

.winner {
    color: #000;
}

.loser {
    color: $red;
}

.bounty {

    // padding: 2px;
    color: green;

    &.useHand:hover {
        background-color: #cecece;
    }
}

#controls {

    display: grid;
    grid-gap: $controlsGap;
    grid-template-columns: repeat(3, $controlsIconW);

    .material-icons {

        font-size: $controlsIconF;
        width: $controlsIconW;
        height: $controlsIconW;

        &.useHand:hover {
            color: $red;
        }
    }
}

@media screen and (max-width: 340px) {

    .last {
        display: none;
    }
}