<div class="knockout">
    <div class="player winner">
        <span class="first">{{knockout.w.first}}</span><span class="last"> {{knockout.w.last}}</span>
    </div><div class="player loser" [class.strike]="false">
        <span class="first">{{knockout.l.first}}</span><span class="last"> {{knockout.l.last}}</span>
    </div><div class="bounty" [class.useHand]="!(working || adjustingKnockouts)" (click)="adjustBounty()">
        <span class="noSelect" *ngIf="knockout.b == 1">$5</span>
        <span class="noSelect" *ngIf="knockout.b == 0">$0</span>
    </div>
    <div id="controls" class="noSelect">
        <i class="material-icons" [class.useHand]="!(working || adjustingKnockouts)" (click)="moveKnockout(true)">
            arrow_drop_up
        </i>
        <i class="material-icons" [class.useHand]="!(working || adjustingKnockouts)" (click)="moveKnockout(false)">
            arrow_drop_down
        </i>
        <i class="material-icons" [class.useHand]="!(working || adjustingKnockouts)" (click)="removeKnockout()">
            close
        </i>
    </div>
</div>