<div id="mainContent">
    <div class="mainTitle noSelect mainTitleNoBackLink">
        <span><img class="ravenSvg" src="/assets/raven.svg">Announcements</span><a routerLink="new" *ngIf="admin"><i class="material-icons useHand">add_circle</i></a>
    </div>
    <div class="allAnnouncements">
        <div class="announcement" *ngFor="let announcement of announcements">
            <div class="date">{{announcement.date | date:'mediumDate'}} {{announcement.date | date:'mediumTime'}}</div>
            <div class="text">{{announcement.text}}</div>
        </div>
    </div>
</div>