<div id="mainContent">
    <div class="mainTitle noSelect mainTitleNoBackLink">
        <span><img class="ravenSvg" src="/assets/raven.svg">Players</span><a routerLink="new" *ngIf="admin"><i class="material-icons useHand">add_circle</i></a>
    </div>
    <div class="find">
        <input placeholder="Find" [(ngModel)]="find" (ngModelChange)="findChanged()">
    </div>
    <div class="allPlayers">
        <div class="playersTitle" *ngIf="players.length">Active</div>
        <div class="allPlayersInner">
            <div class="playerOuter" *ngFor="let player of players">
                <raven-listed-player [player]="player"></raven-listed-player>
            </div>
        </div>
    </div>
    <div class="allPlayers">
        <div class="playersTitle" *ngIf="inactivePlayers.length">Inactive</div>
        <div class="allPlayersInner">
            <div class="playerOuter" *ngFor="let player of inactivePlayers">
                <raven-listed-player [player]="player"></raven-listed-player>
            </div>
        </div>
    </div>
</div>