@import '../scssimports/variables';

$gap: 3.2em;
$smallerGap: 2.6em;
$smallestGap: 3em;
$inputColor: #aaa;

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $inputColor;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $inputColor;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $inputColor;
}
:-moz-placeholder { /* Firefox 18- */
    color: $inputColor;
}

.find {

    // display: inline-block;
    // margin: -5px 0 0 8px;
    margin-top: 18px;
    text-align: center;

    input {

        border-radius: 6px;
        border: none;
        padding: 8px 12px;
        font-size: 14px;
        color: $inputColor;

        &:focus {
            outline: none;
        }
    }
}

.allPlayers {
    // margin: 1.6em 0 0 1em;
    margin: $gap;
    // margin-top: 1.8em;
}

.playersTitle {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: calc(15px + .4vw);
    margin-bottom: 12px;
}

.allPlayersInner {
    display: grid;
    grid-gap: $gap / 2;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.playerOuter {
    // padding: 12px;
    position: relative;
}

@media screen and (max-width: 900px) {
    // .find {
    //     margin: $gap;
    // }
    .allPlayersInner {
        // grid-gap: 36px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    // .find {
    //     margin: 0 $smallerGap;
    // }
    .allPlayers {
        margin: $smallerGap;
        // margin-top: 1.5em;
    }
    .allPlayersInner {
        grid-gap: $smallerGap / 2;
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 350px) {
    // .find {
    //     margin: 0 $smallestGap;
    // }
    .allPlayers {
        margin: $smallestGap;
        // margin-top: 1.5em;
    }
    .allPlayersInner {
        grid-gap: $smallestGap / 3;
        grid-template-columns: 1fr;
    }
}