<a mat-button class="menuItem" tabindex="-1" [ngClass]="{active: menuItem.link == curPath}" (click)="gotoLink(menuItem.link)">
    <span class="myText">
        {{menuItem.name}}
    </span>
    <i class="material-icons" *ngIf="menuItem.newIcon && admin" (click)="gotoNew($event, menuItem.otherLink || menuItem.link)">add_circle</i>
</a>