@import '../../../../scssimports/variables';

.menuItem {

    padding-left: $menuLeftPad;
    font-size: 1em;
    width: 100%;
    text-align: left;
    line-height: 2em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;

    i {
        color: #bbb;

        &:hover {
            color: $red;
        }
    }

    &:hover {
        text-decoration: none;
    }
}

.menuItem.active .myText {
    color: $red;
    font-weight: bold;
}

.myText {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}