@import '../../../scssimports/variables';

$elimHeight: 24px;

form {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

mat-select {
    // width: 120px;
    // margin-right: 18px;
    height: $elimHeight;
    line-height: $elimHeight;
    font-size: 14px;
}

#toggle {
    text-align: center;
}

mat-slide-toggle {
    font-size: 14px;
}

button {
    font-size: 14px;
    height: $elimHeight;
    line-height: $elimHeight;
}

.working {
    margin-top: 5px;
    color: $red;
    font-size: 13px;
    // margin: 10px 0;
}

@media screen and (max-width: $smallerBreak) {

    mat-select {
        margin-right: 0;
    }

    mat-select, button {
        display: block;
        width: 100%;
        margin-top: 24px;
    }

    mat-slide-toggle {
        margin-top: 24px;
    }

    // button {
    //     margin-top: 6px;
    // }
}

@media screen and (max-width: 460px) {
    form {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 300px) {
    form {
        grid-template-columns: 1fr;
    }
}