<div>
    <form>
        <mat-select placeholder="Winner" name="winner" [(ngModel)]="selectedWinner" (ngModelChange)="winnerUpdated()" [disabled]="playersAlive.length == 1 || working">
            <mat-option *ngFor="let player of playersAlive" [value]="player._id">
                {{player.first}} {{player.last}}
            </mat-option>
        </mat-select>
        <mat-select placeholder="Loser" name="loser" [(ngModel)]="selectedLoser" [disabled]="selectedWinner == '' || working">
            <mat-option *ngFor="let player of losers" [value]="player._id">
                {{player.first}} {{player.last}}
            </mat-option>
        </mat-select>
        <div id="toggle">
            <mat-slide-toggle name="bounty" [color]="'primary'" [(ngModel)]="bounty" [disabled]="selectedWinner == '' || working">
                Bounty
            </mat-slide-toggle>
        </div>
        <button mat-button (click)="createKnockout()" [disabled]="selectedLoser == '' || working">Eliminate</button>
    </form>
    <div class="working" *ngIf="working">Adding elimination...</div>
</div>