<div class="gamePlayer">
    <div class="name" [ngClass]="{gotPoints: myEntry.pt, noPoints: !myEntry.pt}">
        <a routerLink="../../players/{{player._id}}">{{player.first}} {{player.last}}</a><span *ngIf="myEntry.pt">+</span>
    </div><div class="cash">
        {{entryCost}}
    </div><div class="cash">
        <span *ngIf="myEntry.c">${{myEntry?.c}}</span>
    </div><div class="cash">
        <span *ngIf="bountyMoney != '$0'">{{bountyMoney}}</span>
    </div><div class="cash">
        {{highHandValue}}
    </div><div class="cash">
        {{net}}
    </div>
</div>