@import '../../../scssimports/variables';

$spacing: 4px;
$avatar: 34px;

.gotPoints, .gotPoints a {
    color: darkgreen !important;
    font-family: 'Ubuntu', sans-serif;
}

.noPoints, .noPoints a {
    color: #777 !important;
}

.cash {
    // color: green;
    font-weight: 400;
}