
@import '../../scssimports/variables';

.players {
    margin-top: 1em;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    padding-right: 4px;
}

.playerComp {
    display: block;
}