<div id="mainContent">
    <div class="mainTitle noSelect mainTitleNoBackLink">
        <span>
            <img class="ravenSvg" src="/assets/raven.svg" />Compare
            Players</span
        >
    </div>
    <div class="players" *ngIf="allPlayers.length > 0">
        <div class="leftSide">
            <mat-form-field>
                <mat-select
                    class="yearSelect"
                    placeholder="Year"
                    floatPlaceholder="never"
                    [(ngModel)]="year"
                    name="year"
                >
                    <mat-option *ngFor="let year of years" [value]="year">
                        {{ year }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="stats">
                <!-- <div class="statLine">
                    <div class="statKey">Tournaments:</div>
                </div> -->
                <div class="statLine">
                    <div class="statKey">Overall Net:</div>
                </div>
                <div class="statLine">
                    <div class="statKey">Net Average:</div>
                </div>
                <div class="statGap"></div>
                <div class="statLine"><div class="statKey">Played:</div></div>
                <div class="statLine">
                    <div class="statKey">Attendance:</div>
                </div>
                <div class="statLine">
                    <div class="statKey">Total Rebuys:</div>
                </div>
                <div class="statLine">
                    <div class="statKey">Total Games without a Rebuy:</div>
                </div>
                <div class="statGap"></div>
                <div class="statLine"><div class="statKey">Wins:</div></div>
                <div class="statLine">
                    <div class="statKey">Total Wins without a Rebuy:</div>
                </div>
                <div class="statLine">
                    <div class="statKey">Total Thirds:</div>
                </div>
                <div class="statLine">
                    <div class="statKey">Win Percentage:</div>
                </div>
                <div class="statLine">
                    <div class="statKey">Longest Streak:</div>
                </div>
                <div class="statGap"></div>
                <div class="statLine">
                    <div class="statKey">Buy in Costs:</div>
                </div>
                <div class="statLine">
                    <div class="statKey">Buy in Average:</div>
                </div>
                <div class="statLine">
                    <div class="statKey">Largest Win:</div>
                </div>
                <div class="statLine"><div class="statKey">Winnings:</div></div>
                <div class="statLine"><div class="statKey">Net:</div></div>
                <div class="statGap"></div>
                <div class="statLine">
                    <div class="statKey">Bounties Won:</div>
                </div>
                <div class="statLine">
                    <div class="statKey">Bounties Lost:</div>
                </div>
                <div class="statLine">
                    <div class="statKey">Bounties Net:</div>
                </div>
                <div class="statGap"></div>
                <div class="statLine">
                    <div class="statKey">High Hand Entries:</div>
                </div>
                <div class="statLine">
                    <div class="statKey">High Hand Wins:</div>
                </div>
                <div class="statLine">
                    <div class="statKey">High Hand Net:</div>
                </div>
                <div class="statGap"></div>
                <div class="statLine">
                    <div class="statKey">Eliminations:</div>
                </div>
                <div class="statLine">
                    <div class="statKey">Most Eliminations in a Game:</div>
                </div>
                <div class="statLine">
                    <div class="statKey">Times Eliminated:</div>
                </div>
                <div class="statLine">
                    <div class="statKey">Elimination Average:</div>
                </div>
                <div class="statGap"></div>
                <div class="statLine">
                    <div class="statKey">Eliminated Other:</div>
                </div>
            </div>
        </div>
        <div class="player">
            <mat-form-field>
                <mat-select
                    class="yearSelect"
                    placeholder="Player A"
                    floatPlaceholder="never"
                    [(ngModel)]="playerA"
                    name="playerA"
                    (ngModelChange)="onPlayerChanged('a')"
                >
                    <mat-option
                        *ngFor="let player of allPlayers"
                        [value]="player"
                        [disabled]="player == playerB"
                    >
                        {{ player.first }} {{ player.last }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <raven-compare-player
                class="playerComp"
                [player]="playerA"
                [otherPlayer]="playerB"
                [year]="year"
            ></raven-compare-player>
        </div>
        <div class="player">
            <mat-form-field>
                <mat-select
                    class="yearSelect"
                    placeholder="Player B"
                    floatPlaceholder="never"
                    [(ngModel)]="playerB"
                    name="playerB"
                    (ngModelChange)="onPlayerChanged('b')"
                    [disabled]="playerA?._id == null"
                >
                    <mat-option
                        *ngFor="let player of allPlayers"
                        [value]="player"
                        [disabled]="player == playerA"
                    >
                        {{ player.first }} {{ player.last }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <raven-compare-player
                class="playerComp"
                [player]="playerB"
                [otherPlayer]="playerA"
                [year]="year"
            ></raven-compare-player>
        </div>
    </div>
</div>
