

$pad: 5px;

.day {
    position: relative;
    padding: $pad;
    text-align: right;
    border-radius: 4px;
}

.active {

    background-color: #fff;

    &:hover {
        cursor: pointer;
        background-color: #d2d2d2;
    }
}

.inactive {

}

// span {
//     opacity: 0;
// }

.dayText {
    // position: absolute;
    // top: $pad;
    // right: $pad;
    // bottom: $pad;
    // left: $pad;

    span {
        font-size: 13px;
        margin-left: 1px;
    }
}

// .dayText {
//     z-index: 10;
// }

// .dayIcon {
//     position: absolute;
//     top: 5px;
//     left: 9px;
//     text-align: right;
//     color: #ddd;
// }