<div class="day" [ngClass]="{active: !hasGame && myDate.day && !creatingGame, inactive: hasGame}" (click)="selectDate()">
    <!-- <span>
        {{myText}}
    </span> -->
    <div class="dayText noSelect">
        {{myDate.day}}<span>{{myText}}</span>
    </div>
    <!-- <div class="dayIcon" *ngIf="hasGame">
        <i class="material-icons">stars</i>
    </div> -->
</div>