<div id="mainContent">
    <div class="loading" *ngIf="loading">Loading game...</div>
    <div *ngIf="myGame && !loading">
        <div class="mainTitle noSelect">
            <span>
                <img class="ravenSvg" src="/assets/raven.svg" />Game - {{ myGame.date | date
                }}<span *ngIf="gamePot != '-'"> - {{ gamePot }}</span> </span><a routerLink="edit" *ngIf="admin"><i
                    class="material-icons useHand">mode_edit</i></a>
        </div>
        <a class="backLink noSelect" routerLink="../"><i class="material-icons">keyboard_arrow_left</i>Back to all
            games</a>
        <div class="quickLinks" *ngIf="prevGameId || nextGameId">
            <a class="prev" routerLink="/games/{{ prevGameId }}" *ngIf="prevGameId">
                <i class="material-icons prevArrow">keyboard_arrow_left</i>Previous
            </a>
            <span *ngIf="prevGameId && nextGameId">|</span>
            <a class="next" routerLink="/games/{{ nextGameId }}" *ngIf="nextGameId">
                Next<i class="material-icons">keyboard_arrow_right</i>
            </a>
        </div>
        <div class="title">Chips in play:</div>
        <div>{{ totalChips | number: '1.0' }}</div>
        <div class="title" *ngIf="year == 2017">Note:</div>
        <div class="note" *ngIf="year == 2017">
            Please note: Full stats (eliminations, bounties, high hands) began in 2018. We have
            stats for all winners in 2017, but we do not have a full list of partcipants for each
            game in 2017. From mid September of 2017 on, we have a full list of players for each
            game, but we do not have the detailed data.
        </div>
        <div class="title">Breakdown:</div>
        <div class="players">
            <div *ngIf="gamePlayers.length == 0">No players yet.</div>
            <div class="gamePlayer gamePlayerHeading" *ngIf="gamePlayers.length > 0">
                <div class="name">
                    Player
                </div>
                <div class="cash">
                    Entry
                </div>
                <div class="cash">
                    Cash
                </div>
                <div class="cash">
                    Bounty (net)
                </div>
                <div class="cash">
                    High Hand (net)
                </div>
                <div class="cash">
                    Net
                </div>
            </div>
            <raven-game-player class="player" [player]="player" [entries]="myGame.entries" [knockouts]="knockouts"
                [highHandWinners]="highHandWinners" [highHandTotalEntries]="highHandTotalEntries" [updates]="updates"
                *ngFor="let player of gamePlayers"></raven-game-player>
        </div>
        <div class="title" *ngIf="myGame.name || myGame.n">Game Notes:</div>
        <div class="gameName" *ngIf="myGame.name">{{ myGame.name }}</div>
        <div class="note" [class.noteMargTop]="myGame.name" [innerHTML]="myGame.n" *ngIf="myGame.n"></div>
        <div class="title" *ngIf="highHand">High Hand:</div>
        <raven-high-hand class="highHand" [hand]="hand" [linkUpTwo]="true" [displayHand]="true" [needsSorting]="true"
            *ngFor="let hand of highHands"></raven-high-hand>
        <div class="title" *ngIf="knockouts.length > 0">Eliminations:</div>
        <div class="knockouts" *ngIf="knockouts.length > 0">
            <div class="knockout">
                <div class="winner heading">
                    Winner
                </div>
                <div class="heading">
                    Loser
                </div>
                <div class="bounty heading">
                    Bounty
                </div>
            </div>
            <div class="knockout" *ngFor="let knockout of knockouts">
                <div class="winner">
                    <span *ngIf="knockout.w"><a routerLink="../../players/{{ knockout.w._id }}">{{ knockout.w?.first }}
                            {{ knockout.w?.last }}</a></span>
                    <span class="gray" *ngIf="!knockout.w">Not recorded</span>
                </div>
                <div [ngClass]="{ strike: !knockout.r }">
                    <a routerLink="../../players/{{ knockout.l._id }}">{{ knockout.l.first }} {{ knockout.l.last }}</a>
                </div>
                <div class="bounty">
                    <i class="material-icons" *ngIf="knockout.b == 1">done</i>
                </div>
            </div>
        </div>
    </div>
</div>