@import '../../scssimports/variables';

.highHand {
    margin-top: 6px;
    display: block;
}

.players {
    margin-top: 6px;
}

.quickLinks {
    font-size: 13px;

    i {
        font-size: 16px;
        vertical-align: bottom;
    }

    .prev {
        // color: red;

        i {
            margin-right: 3px;
        }
    }

    span {
        margin: 0 4px;
    }

    .next {
        // color: blue;

        i {
            margin-left: 3px;
        }
    }
}

.knockouts {
    margin-top: 10px;
}

.knockouts .title {
    margin-bottom: 10px;
}

.knockout {
    display: grid;
    grid-gap: 4%;
    grid-template-columns: 39% 39% 10%;
    grid-template-rows: 1fr;
    font-size: calc(12px + 0.2vw);
    margin-top: 4px;

    .heading {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
    }

    .cash {
        text-align: right;
    }
}

.winner,
.loser,
.bounty {
    font-size: calc(11px + 0.3vw);
}

// .loser {
//     color: $red;
// }

.bounty {
    text-align: center;
    color: green;

    .material-icons {
        font-size: 16px;
        vertical-align: top;
    }
}

.gameName {
    font-size: 17px;
    font-weight: bold;
    margin: 0.8em 0 6px;
}

.note {
    // margin-top: 1em;
    font-size: calc(11px + 0.2vw);
    padding-right: 1em;
    line-height: 1.5;
    margin-bottom: 2em;
}

.noteMargTop {
    margin-top: 6px;
}

.strike {
    text-decoration: line-through;
}

.gray {
    color: #888;
    font-style: italic;
}

@media screen and (max-width: $smallerBreak) {
    // .knockouts {
    //     margin-left: 0;
    // }

    .note {
        margin-left: 0;
        padding-right: 0;
    }
}
