@import '../scssimports/variables';

.letsTalk {
    font-size: calc(12px + 0.2vw);
}

#displayedMessages {
    margin: 0 auto;
    margin-top: 16px;
    // width: 80%;
    // width: $inputWidthSmackAnn;
    // min-width: $inputMinWidthSmackAnn;
    height: 320px;
    overflow-y: scroll;
    background-color: #fff;
    padding: 20px 12px 0;
    border-radius: 6px;
    border: 1px solid #cecece;
    // font-size: 13px;
}

.noMessages {
    color: #777;
}

.message {
    display: block;

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    &:last-child {
        margin-bottom: 32px; // cause firefox padding bottom on main div doesnt work due to overdflow
    }
}

#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

// @media screen and (max-width: $smallerBreak) {
// #displayedMessages {
// width: 92%;
// margin: 0 auto;
// }
// }
