<div id="mainContent">
    <div class="mainTitle noSelect mainTitleNoBackLink">
        <img class="ravenSvg" src="/assets/raven.svg" />Smack
    </div>
    <div class="letsTalk">Let's talk some smack.</div>
    <div *ngIf="loading">Loading messages...</div>
    <div id="displayedMessages" [ngClass]="{ noOpacity: !initialScrollDone }">
        <div class="noMessages" *ngIf="displayedMessages.length == 0">No messages yet.</div>
        <raven-smack-message
            class="message"
            [message]="message"
            *ngFor="let message of displayedMessages"
        ></raven-smack-message>
    </div>
    <form>
        <mat-form-field class="newMessageHolder">
            <textarea
                matInput
                placeholder="New message..."
                [(ngModel)]="newMessage"
                (keydown.enter)="sendHit()"
                name="newMessage"
            ></textarea>
        </mat-form-field>
    </form>
    <div class="buttonHolder">
        <button mat-button class="" *ngIf="!imageToUpload">
            <label class="label" for="upload-photo">Add image</label>
        </button>
        <span *ngIf="imageToUpload">File for message: {{ imageToUpload.name }}</span>
        <button mat-button class="" (click)="cancelImage()" *ngIf="imageToUpload">
            <label class="label" for="upload-photo">Remove image</label>
        </button>
        <input
            id="upload-photo"
            type="file"
            (change)="fileChangeEvent($event)"
            placeholder="Upload file..."
        />
        <button mat-button class="floatRight" (click)="sendHit()" [disabled]="newMessage == ''">
            Send
        </button>
    </div>
</div>
