@import '../../../scssimports/variables';

// $spacing: 5px;

.player {
    margin-bottom: 6px;
    font-size: calc(12px + .2vw);
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 40px 4fr;
}

.buyins {
    font-size: calc(16px + .2vw);
    // text-align: center;
    line-height: 40px;
}

.dead {
    color: #aaa;
}

.details {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 2fr 1fr 1fr 54px;
}

#controls {
    .mat-button {
        font-size: 11px;
        width: 54px;
        padding: 0;
        min-width: 0;
    }
}

mat-slide-toggle {
    padding-top: 8px
}

@media screen and (max-width: $menuBreak + 140) {

}