<div class="player" [ngClass]="{alive: player.alive, dead: !player.alive}">
    <div class="avatar">
        <raven-avatar [image]="player.afile" [round]="false" [faded]="!player.alive" *ngIf="player.afile"></raven-avatar>
    </div><div class="details">
        <div class="name">
            {{player.first}} {{player.last}}<span *ngIf="player.saving"> (saving)</span>
        </div><div class="buyins">
            {{myEntry.b}}
        </div><div>
            <mat-slide-toggle name="highHand" [color]="'primary'" [(ngModel)]="isHighHand" (ngModelChange)="highHandChanged()"></mat-slide-toggle>
        </div><div id="controls">
            <button mat-button (click)="rebuy()" [disabled]="saving || player.alive" *ngIf="!player.alive">Rebuy</button>
            <button mat-button (click)="unrebuy()" [disabled]="saving" *ngIf="isUndoRebyShowing()">Unrebuy</button>
        </div>
    </div>
</div>