<div id="mainContent">
    <div class="mainTitle noSelect mainTitleNoBackLink">
        <span><img class="ravenSvg" src="/assets/raven.svg">Games</span><a routerLink="new" *ngIf="admin"><i class="material-icons">add_circle</i></a>
        <mat-form-field>
            <mat-select class="yearSelect" placeholder="Year" floatPlaceholder="never" [(ngModel)]="year" name="year" (ngModelChange)="onYearChanged()">
                <mat-option *ngFor="let year of years" [value]="year">
                    {{year}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button class="floatRight" [disabled]="doingXlsx" (click)="download()">Download</button>
    </div>
    <div class="loading" *ngIf="loading">Loading...</div>
    <div class="allMonths">
        <div class="month" *ngFor="let month of months">
            <div class="monthInner" *ngIf="month.games.length > 0">
                <div class="title myTitle topText">
                    <span class="gameWide">{{month.month}}</span><span class="gameThin">{{month.monthShort}}</span>
                </div><div class="gameWinner topText">
                    Winner
                </div><div class="gameWinner topText">
                    Winner
                </div><div class="gamePot topText">
                    <span class="gameWide">Total Pot</span><span class="gameThin">Pot</span>
                </div>
            </div>
            <raven-listed-game [game]="game" *ngFor="let game of month.games"></raven-listed-game>
        </div>
    </div>
</div>