@import '../scssimports/variables';

mat-form-field {
    width: 70px;
    font-size: 16px;
    margin-left: 12px;
}

.allMonths {
    margin-top: 1.4em;
    // max-width: 480px;
}

.month {

    margin-bottom: 1.4em;

    .topText {
        font-size: calc(12px + .2vw) !important;
    }
}

.monthShort {
    display: none;
}

.monthInner {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: .7fr 1.3fr 1.3fr .7fr;
}

.myTitle {
    margin: 0 4px 0 0;
}

.gameWinner, .gamePot {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: calc(12px + .2vw);
}


@media screen and (max-width: 350px) {
    .smallest {
        display: none;
    }
}