@import '../../../scssimports/variables';

#menu, #menuSlide {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $menuWidth;
    color: #222;
    z-index: 100;
}

#menu {
    background-color: #fff;
    // border: 1px solid #d2d2d2;
}

#menuSlide {
    left: -1 * $menuWidth;
    background-color: #fff;
}

#menuClose {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#menuTab {

    position: absolute;
    top: 6px;
    left: $menuWidth;
    width: 32px;
    color: $red;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;

    .material-icons {
        float: left;
        font-size: 30px;
    }
}

.logoHolder {
    height: $logoHolderHeight;
}

.logo {
    width: 80%;
    margin: 0 auto;
    display: block;
    padding-top: 1.5em;
}