<div (window:resize)="onResize()"></div>
<div id="menu" *ngIf="!showSlide">
    <div class="logoHolder">
        <raven-logo class="logo useHand noSelect" (click)="goHome()"></raven-logo>
    </div>
    <div class="menuItems">
        <raven-menu-item [menuItem]="menuItem" [curPath]="curPath" (menuClicked)="onMenuClicked()" [admin]="admin" *ngFor="let menuItem of menuItems"></raven-menu-item>
    </div>
    <raven-year-pot></raven-year-pot>
    <raven-player-badge></raven-player-badge>
</div>
<div id="menuSlide" [@menuState]="menuState" *ngIf="showSlide">
    <div class="logoHolder">
        <raven-logo class="logo useHand" (click)="goHome()"></raven-logo>
    </div>
    <div class="menuItems">
        <raven-menu-item [menuItem]="menuItem" [curPath]="curPath" (menuClicked)="onMenuClicked()" [admin]="admin" *ngFor="let menuItem of menuItems"></raven-menu-item>
    </div>
    <raven-year-pot></raven-year-pot>
    <raven-player-badge></raven-player-badge>
    <div id="menuTab" (click)="menuTabClicked()">
        <i class="material-icons" *ngIf="menuState == 'inactive'">menu</i>
        <i class="material-icons" *ngIf="menuState == 'active'">close</i>
    </div>
</div>
<div id="menuClose" (click)="menuTabClicked()" *ngIf="menuState == 'active'"></div>