<div class="game" [ngClass]="{incomplete: game.s < 3}">
    <a class="gameLink" routerLink="{{game._id}}">
        <div class="gameDate">
            {{displayDateText}}
        </div><div class="gameWinner" [ngClass]="{winnerIsMe: winner.isMe}" *ngFor="let winner of thisGamesWinners">
            <span class="gameWide">{{winner.first}} {{winner.last}}</span><span class="gameThin">{{winner.name}}</span>
        </div><div class="gamePot">
            {{gamePot}}
        </div>
    </a>
</div>