@import '../../scssimports/variables';


.gameLink {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: .7fr 1.3fr 1.3fr .7fr;
}

.smallTitle .gameDate {
    margin-left: 1px;
}

.game {

    margin-top: 8px;

    &:hover a {
        color: $red;
    }
}

.game, .game .material-icons {
    font-size: calc(13px + .2vw);
    line-height: 1em;
}

.winnerIsMe {
    // color: $penBlue;
    font-weight: bold;
}

.incomplete a {
    color: #bbb;
}

.material-icons {
    margin-right: 3px;
}