<div class="card">
    <a routerLink="players/{{entry.p._id}}">
        <div class="avatar">
            <raven-card [image]="entry.p.afile" [round]="false" [faded]="false" *ngIf="entry.p.afile"></raven-card>
            <div class="containerTop">
                <div class="background"></div>
                <div class="details">
                    <span *ngIf="entry.q == 1">{{entry.b}} <span>|</span> {{entry.ks}} <span>|</span> </span>${{entry.c}}
                </div>
            </div>
            <div class="containerBottom">
                <div class="background"></div>
                <div class="name">
                    {{entry.p.first}}<span *ngIf="extraName"> "{{extraName}}"</span> {{entry.p.last}}
                </div>
            </div>
        </div>
    </a>
</div>