@import '../../../scssimports/variables';

.card {
    color: #000;
    width: 100%;
    font-family: 'Neucha', cursive;
    border-radius: 6px;
    overflow: hidden;
}

.avatar {
    position: relative;
    width: 100%;
    // border-radius: 10px;
    overflow: hidden;
}

.containerTop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.containerBottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 1;
}

.name {
    position: relative;
    // font-family: 'Special Elite', cursive;
    // font-size: 26px;
    font-size: calc(12px + .5vw);
    // padding-top: 12px;
    padding: .4em 0;
    text-align: center;
    z-index: 5;
    // color: $penBlue;
    color: rgb(70, 70, 70);
    // line-height: 1em;

    // div {
    //     line-height: 26px;
    // }
}

.details {

    position: relative;
    // font-family: 'Special Elite', cursive;
    font-size: calc(11px + .2vw);
    z-index: 5;
    text-align: center;
    // color: $penBlue;
    color: rgb(70, 70, 70);
    // line-height: 1em;
    // margin-bottom: 4px;
    padding: .6em 0 .4em;

    span {
        color: #d2d2d2;
    }
}

.prop {
    span {
        display: inline-block;
        width: 40px;
    }
}

.buyins {
    color: #000;
}

.kos {
    color: #000;
}

.winnings {
    color: #000;
}