<div id="mainContent">
    <div class="mainTitle noSelect">
        <img class="ravenSvg" src="/assets/raven.svg">Edit Player
    </div>
    <a class="backLink noSelect" routerLink="../../"><i class="material-icons">keyboard_arrow_left</i>Back to all players</a>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="form">
        <div *ngFor="let item of items">
            <mat-form-field class="full-width">
                <input matInput [placeholder]="item.label" [formControlName]="item.key" [id]="item.key" [name]="item.key" [type]="item.type" (change)="formValueChanged()">
            </mat-form-field>
        </div>
        <div class="row">
            <button mat-button class="floatRight" type="submit" [disabled]="!form.valid || formSubmitting || matchesOriginal">
                <span [innerHTML]="buttonText"></span>
            </button>
        </div>
        <div class="row errorMessage" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
    </form>
    <form (ngSubmit)="onSubmitPassword()" [formGroup]="form2" *ngIf="form2">
        <div *ngFor="let item of items2">
            <mat-form-field class="full-width">
                <input matInput [placeholder]="item.label" [formControlName]="item.key" [id]="item.key" [name]="item.key" [type]="item.type">
            </mat-form-field>
        </div>
        <div class="row">
            <button mat-button class="floatRight" type="submit" [disabled]="!form2.valid || formSubmitting2">
                <span [innerHTML]="buttonText2"></span>
            </button>
        </div>
        <div class="row errorMessage" *ngIf="errorMessage2">
            {{errorMessage}}
        </div>
    </form>
</div>