

form {
    max-width: 500px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.full-width {
    width: 100%;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 50px #eee inset;
}

.errorMessage {
    font-size: 13px;
    color: #b92f2f;
}