@import '../../../scssimports/variables';

.badge {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    margin-top: 1em;
    padding-left: $menuLeftPad;
}

.name {
    font-size: 12px;
    color: #555;
}

.id {
    font-size: 10px;
    color: #777;
}