@import '../scssimports/variables';

.mainItems {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.avaAndButtons {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 14px;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 50px #eee inset;
}

.avatar {
    position: relative;
    width: $leftWidth;
    height: $leftWidth;
    margin-bottom: 12px;
}

.avaHL {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: 50%;
    z-index: 4;
    border: 4px solid #fff;
}

.mat-button {
    font-size: 11px;
}

.tal {
    text-align: left;
}

form {

    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin-top: 14px;

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.full-width {
    width: 100%;
}

.errorMessage {
    font-size: 13px;
    color: #b92f2f;
}

.label {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    margin-left: -16px;
    cursor: pointer;
}

#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

// @media screen and (max-width: $smallerBreak) {
//     .avatar {
//         margin: 30px auto;
//     }
// }

// @media screen and (max-width: $menuBreak - 80px) {

//     .avatar {
//         margin: 1.5em auto;
//     }

//     #mainContent button {
//         display: block;
//         float: none;
//         width: 60%;
//         margin: 0 auto;
//     }
// }

@media screen and (max-width: 500px) {

    .avaAndButtons {
        grid-template-columns: 1fr 1fr;
    }

    .mainItems {
        grid-template-columns: repeat(1, 1fr);
    }

}