<div id="mainContent">
    <div>
        <div class="mainTitle noSelect mainTitleNoBackLink">
            <img class="ravenSvg" src="/assets/raven.svg" />Profile
        </div>
        <div class="loading" *ngIf="!player">Loading...</div>
        <div *ngIf="player">
            <div class="avaAndButtons">
                <div class="avatar">
                    <div class="avaHL"></div>
                    <raven-avatar
                        [image]="player.afile"
                        [round]="true"
                        [acceptPhoto]="true"
                        [uploadingImage]="uploadingImage"
                        (onReceiveImage)="onReceiveImage($event)"
                        *ngIf="player.afile"
                    ></raven-avatar>
                </div>
                <div class="buttons">
                    <button mat-button class="tal" (click)="newDonkey()">
                        Get random image
                    </button>
                    <input
                        id="upload-photo"
                        type="file"
                        (change)="fileChangeEvent($event)"
                        placeholder="Upload file..."
                    />
                    <button mat-button class="tal">
                        <label class="label" for="upload-photo"
                            >Upload image</label
                        >
                    </button>
                </div>
            </div>
            <form (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="form">
                <div class="mainItems">
                    <div *ngFor="let item of items">
                        <mat-form-field class="full-width">
                            <input
                                matInput
                                [placeholder]="item.label"
                                [formControlName]="item.key"
                                [id]="item.key"
                                [name]="item.key"
                                [type]="item.type"
                                (change)="formValueChanged()"
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <button
                        mat-button
                        class="floatRight"
                        type="submit"
                        [disabled]="
                            !form.valid || formSubmitting || matchesOriginal
                        "
                    >
                        <span [innerHTML]="buttonText"></span>
                    </button>
                </div>
                <div class="row errorMessage" *ngIf="errorMessage">
                    {{ errorMessage }}
                </div>
            </form>
            <form
                (ngSubmit)="onSubmitPassword()"
                [formGroup]="form2"
                *ngIf="form2"
            >
                <div class="mainItems">
                    <div></div>
                    <div *ngFor="let item of items2">
                        <mat-form-field class="full-width">
                            <input
                                matInput
                                [placeholder]="item.label"
                                [formControlName]="item.key"
                                [id]="item.key"
                                [name]="item.key"
                                [type]="item.type"
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <button
                        mat-button
                        class="floatRight"
                        type="submit"
                        [disabled]="!form2.valid || formSubmitting2"
                    >
                        <span [innerHTML]="buttonText2"></span>
                    </button>
                </div>
                <div class="row errorMessage" *ngIf="errorMessage2">
                    {{ errorMessage }}
                </div>
            </form>
        </div>
    </div>
</div>
