@import '../scssimports/variables';

$max: 440px;

mat-form-field {
    width: 70px;
    font-size: 16px;
    margin-left: 12px;
}

.allGames {
    margin-top: 1.4em;
}

.game {
    margin-bottom: 2.6em;
}

.hh {
    margin-top: 0.8em;
}

.gameName {
    font-size: 17px;
    font-weight: bold;
    margin: 0.8em 0 4px;
}

.notes {
    // margin-top: 0.8em;
    max-width: 440px;
    font-size: 14px;
    margin-top: 1em;
}

.notesMargTop {
    margin-top: 0.8em;
}

.date {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.2em;
}

.winners {
    max-width: $max;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    color: #000;
    width: 100%;
    font-family: 'Neucha', cursive;
    border-radius: 6px;
    overflow: hidden;
}

.avatar {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.containerTop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.containerBottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 1;
}

.name {
    position: relative;
    // font-family: 'Special Elite', cursive;
    // font-size: 26px;
    font-size: calc(12px + 0.5vw);
    // padding-top: 12px;
    padding: 0.4em 0;
    text-align: center;
    z-index: 5;
    // color: $penBlue;
    color: rgb(70, 70, 70);
    // line-height: 1em;

    // div {
    //     line-height: 26px;
    // }
}

.details {
    position: relative;
    // font-family: 'Special Elite', cursive;
    font-size: calc(11px + 0.2vw);
    z-index: 5;
    text-align: center;
    // color: $penBlue;
    color: rgb(70, 70, 70);
    // line-height: 1em;
    // margin-bottom: 4px;
    padding: 0.6em 0 0.4em;

    span {
        color: #d2d2d2;
    }
}

.prop {
    span {
        display: inline-block;
        width: 40px;
    }
}

.buyins {
    color: #000;
}

.kos {
    color: #000;
}

.winnings {
    color: #000;
}
