<div id="mainContent">
    <div class="mainTitle noSelect mainTitleNoBackLink">
        <span><img class="ravenSvg" src="/assets/raven.svg" />Year in Review</span>
        <mat-form-field>
            <mat-select class="yearSelect" placeholder="Year" floatPlaceholder="never" [(ngModel)]="year" name="year"
                (ngModelChange)="onYearChanged()">
                <mat-option *ngFor="let year of years" [value]="year">
                    {{ year }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="loading" *ngIf="loading">Loading...</div>
    <div class="allGames">
        <div class="game" *ngFor="let game of reviews">
            <div class="date">
                <a [routerLink]="'/games/' + game._id">{{ game.date | date: 'mediumDate' }}</a>
            </div>
            <div class="gameName" *ngIf="game.name">{{ game.name }}</div>
            <div class="winners">
                <div class="winner" *ngFor="let winner of game.winners">
                    <div class="card">
                        <a routerLink="/players/{{ winner.p._id }}">
                            <div class="avatar">
                                <raven-card [image]="winner.p.afile" [round]="false" [faded]="false"
                                    *ngIf="winner.p.afile"></raven-card>
                                <div class="containerTop">
                                    <div class="background"></div>
                                    <div class="details">
                                        Bounties: {{ winner.b }} <span>|</span> Knockouts:
                                        {{ winner.ks }} <span>|</span> Cash: ${{ winner.c }}
                                    </div>
                                </div>
                                <div class="containerBottom">
                                    <div class="background"></div>
                                    <div class="name">{{ winner.p.first }} {{ winner.p.last }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hh" *ngIf="game.hh">
                <raven-review-game-high-hand [hand]="game.hh"></raven-review-game-high-hand>
            </div>
            <div class="notes" [class.notesMargTop]="!game.name" [innerHTML]="game.n" *ngIf="game.n"></div>
        </div>
    </div>
</div>