
@import '../../scssimports/variables';

.title {
    margin-top: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    // font-size: calc(11px + .15vw);
    font-size: calc(12px + .2vw);
    margin-bottom: 8px;
}

.bgImage, .details {
    height: 32vw;
    max-height: 320px;
}

.bgImage {
    width: calc(100% - 260px);
    position: fixed;
    background-color: #0c1030;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    z-index: -1;
}

.details {

    width: 100%;
    position: relative;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

    a {
        color: #fff;
    }
}

.innerDetails {

    padding: 1em $menuLeftPad;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: rgba(0, 0, 0, .3);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.4) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.4) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 );

    a:hover {
        text-decoration: underline;
    }
}

.name {

    font-size: calc(17px + .2vw);
    margin-bottom: 4px;

    .material-icons {
        font-size: 17px;
        margin-left: 4px;
        vertical-align: top;
        padding-top: 5px;
    }
}

.backToPlayers {
    font-size: calc(9px + .15vw);
}

.backToPlayersMB {
    margin-bottom: 10px;
}

.profileBackLink {
    .material-icons {
        font-size: 11px;
        margin-left: -4px;
    }
}

// .telAndEmail {
//     display: grid;
//     grid-gap: 6px;
//     grid-template-columns: repeat(2, 1fr);
// }

.detailsLine {
    display: inline-block;
    font-size: calc(10px + .2vw);
}

.statSelector {
    text-align: center;
}

.compareButton{
    display: inline-block;
    margin-right: 12px;
}

mat-form-field {
    display: inline-block;
    width: 70px;
    font-size: 16px;
}

.note {
    font-size: 12px;
    margin-bottom: 1.2em;
}

.stats {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.stats:not(:first-of-type) {
    margin-top: 16px;
}

.statsSide {
    color: #000;
}

.statLine {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 3px;
}

// .statKey {
    // font-family: 'Ubuntu', sans-serif;
    // font-weight: 400;
// }

.knockoutsMain {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr 1fr;
}

.koTitleMT {
    // margin-top: 6px;
}

.knockout {

    margin-top: 2px;
    padding: 3px 5px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;

    span {
        float: right;
    }
}

// .highHands {
    // width: 60%;
    // margin: 30px auto 0;
// }

// .streakHolder {
    // margin-top: 12px;
// }

// .hhTitle {
//     font-family: 'Ubuntu', sans-serif;
//     font-weight: 400;
//     font-size: calc(12px + .2vw);
//     margin-bottom: 5px;
// }

.heavy {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.streakGame {
    // margin-top: 4px;
    font-size: calc(11px + .2vw);
}

.highHand {
    margin: 10px 0;
}

.notFound {
    font-size: 14px;
    color: $red;
}

.gray {
    color: #888;
    font-style: italic;
    display: inline-block;
}

@media screen and (max-width: 880px) {

    .knockoutsMain {
        grid-template-columns: 1fr;
    }

    .koTitleMT {
        margin-top: 6px;
    }

}

@media screen and (max-width: 700px) {

    .knockoutsMain {
        grid-template-columns: 1fr 1fr;
    }

    .koTitleMT {
        margin-top: 0;
    }

    .bgImage {
        width: 100%;
    }

    .bgImage, .details {
        height: 44vw;
        max-height: 440px;
    }

}

@media screen and (max-width: 600px) {

    .bgImage, .details {
        height: 62vw;
        max-height: 620px;
    }
}

@media screen and (max-width: 540px) {

    .knockoutsMain {
        grid-template-columns: 1fr;
    }

    .koTitleMT {
        margin-top: 6px;
    }
}

@media screen and (max-width: $smallerBreak) {

    .highHands {
        width: 95%;
    }

    .innerDetails {
        padding: .8em 1.2em;
    }

    .detailsLine {
        display: block;
    }
}