<div id="fullContent">
    <div class="bgImage" [ngStyle]="headerStyle" *ngIf="player"></div>
    <div class="details" *ngIf="player">
        <div class="innerDetails">
            <div class="name">
                <a class="profileBackLink" routerLink="../">Players</a> :
                {{ player.first }}
                <span *ngIf="extraName"> "{{ extraName }}"</span>
                {{ player.last }}
                <a routerLink="edit" *ngIf="admin">
                    <i class="material-icons useHand">mode_edit</i>
                </a>
            </div>
            <div class="detailsLine" *ngIf="phoneNumber">
                <a [href]="'tel:' + player.phone">{{ phoneNumber }}</a>
            </div>
            <div class="detailsLine" *ngIf="player.email">
                <a [href]="'mailto:' + player.email">{{ player.email }}</a>
            </div>
        </div>
    </div>
    <div id="fullContentBackground">
        <div id="fullContentInner">
            <div class="notFound" *ngIf="noPlayer">
                <img class="ravenSvg" src="/assets/raven.svg" />Player not
                found.
            </div>
            <div *ngIf="player">
                <div class="statSelector">
                    <div class="compareButton" *ngIf="isNotMe">
                        <button mat-raised-button (click)="compare()">
                            Compare
                        </button>
                    </div>
                    <mat-form-field>
                        <mat-select
                            class="yearSelect"
                            placeholder="Year"
                            floatPlaceholder="never"
                            [(ngModel)]="year"
                            name="year"
                            (ngModelChange)="onYearChanged()"
                        >
                            <mat-option
                                *ngFor="let year of years"
                                [value]="year"
                            >
                                {{ year }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="note" *ngIf="year == 2017">
                    Please note: Full stats (eliminations, bounties, high hands)
                    began in 2018. We have stats for all winners in 2017, but we
                    do not have a full list of partcipants for each game in
                    2017. From mid September of 2017 on, we have a full list of
                    players for each game, but we do not have the detailed data.
                </div>
                <div *ngIf="stats">
                    <div class="stats">
                        <div class="statsSide">
                            <div class="title">Stats:</div>
                            <div class="statLine">
                                <div class="statKey">Overall Net:</div>
                                <div class="statVal">
                                    {{
                                        stats.overallNet
                                            | currency: "USD":"symbol":"1.2-2"
                                    }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">Net Average:</div>
                                <div class="statVal">
                                    {{
                                        stats.netRatio
                                            | currency: "USD":"symbol":"1.2-2"
                                    }}
                                </div>
                            </div>
                            <div class="statGap"></div>
                            <div class="statLine">
                                <div class="statKey">
                                    {{ this.year }} Tournaments:
                                </div>
                                <div class="statVal">
                                    {{ stats.totalGamesForYear }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">
                                    {{ player.first }} has played:
                                </div>
                                <div class="statVal">
                                    {{ stats.totalEntries }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">Attendance:</div>
                                <div class="statVal">
                                    {{ stats.attendance | percent: "1.0-2" }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">Total Rebuys:</div>
                                <div class="statVal">
                                    {{ stats.totalRebuys }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">
                                    Total Games without a Rebuy:
                                </div>
                                <div class="statVal">
                                    {{ stats.totalGamesWithoutRebuy }}
                                </div>
                            </div>
                            <div class="statGap"></div>
                            <div class="statLine">
                                <div class="statKey">Total Wins:</div>
                                <div class="statVal">
                                    {{ stats.totalPoints }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">
                                    Total Wins without a Rebuy:
                                </div>
                                <div class="statVal">
                                    {{ stats.totalWinsWithoutRebuy }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">Total Thirds:</div>
                                <div class="statVal">
                                    {{ stats.totalThirdPlaceFinishes }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">Win Percentage:</div>
                                <div class="statVal">
                                    {{ stats.winPercent | percent: "1.0-2" }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">Longest Streak:</div>
                                <div class="statVal">
                                    {{ stats.longestStreakLength }}
                                </div>
                            </div>
                            <div class="statGap"></div>
                            <div class="statLine">
                                <div class="statKey">Buy in Costs:</div>
                                <div class="statVal">
                                    {{
                                        stats.totalEntryCost
                                            | currency: "USD":"symbol":"1.2-2"
                                    }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">Buy in Average:</div>
                                <div class="statVal">
                                    {{ stats.buyinRatio | number: "1.2-2" }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">Largest Win:</div>
                                <div class="statVal">
                                    {{
                                        stats.highestCash
                                            | currency: "USD":"symbol":"1.2-2"
                                    }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">Winnings:</div>
                                <div class="statVal">
                                    {{
                                        stats.totalPotMoneyWon
                                            | currency: "USD":"symbol":"1.2-2"
                                    }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">Net:</div>
                                <div class="statVal">
                                    {{
                                        stats.potNet
                                            | currency: "USD":"symbol":"1.2-2"
                                    }}
                                </div>
                            </div>
                            <div class="statGap"></div>
                            <div class="statLine">
                                <div class="statKey">Bounties Won:</div>
                                <div class="statVal">
                                    {{ stats.bountiesWon }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">Bounties Lost:</div>
                                <div class="statVal">
                                    {{ stats.bountiesLost }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">Bounties Net:</div>
                                <div class="statVal">
                                    {{
                                        stats.bountiesNet
                                            | currency: "USD":"symbol":"1.2-2"
                                    }}
                                </div>
                            </div>
                            <div class="statGap"></div>
                            <div class="statLine">
                                <div class="statKey">High Hand Entries:</div>
                                <div class="statVal">
                                    {{ stats.totalHighHandEntries }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">High Hand Wins:</div>
                                <div class="statVal">
                                    {{ stats.highHands.length }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">High Hand Net:</div>
                                <div class="statVal">
                                    {{
                                        stats.highHandsNet
                                            | currency: "USD":"symbol":"1.2-2"
                                    }}
                                </div>
                            </div>
                            <div class="statGap"></div>
                            <div class="statLine">
                                <div class="statKey">Total Eliminations:</div>
                                <div class="statVal">
                                    {{ stats.totalEliminations }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">
                                    Most Eliminations in a Game:
                                </div>
                                <div class="statVal">
                                    <a
                                        [routerLink]="
                                            '../../games/' + stats.mostKosGame
                                        "
                                        >{{ stats.mostKos }}</a
                                    >
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">Times Eliminated:</div>
                                <div class="statVal">
                                    {{ stats.totalEliminated }}
                                </div>
                            </div>
                            <div class="statLine">
                                <div class="statKey">Elimination Average:</div>
                                <div class="statVal">
                                    {{ stats.knockoutRatio | number: "1.2-2" }}
                                </div>
                            </div>
                        </div>
                        <div class="statsSide">
                            <div class="title">Eliminations:</div>
                            <div class="knockoutsMain">
                                <div
                                    class="knockouts"
                                    *ngIf="stats.knockoutWins.length > 0"
                                >
                                    <div class="koTitle">Eliminated:</div>
                                    <div
                                        class="knockout"
                                        *ngFor="let k of stats.knockoutWins"
                                    >
                                        <a routerLink="../{{ k._id }}"
                                            >{{ k.first }} {{ k.last }}</a
                                        >
                                        <span>{{ k.total }}</span>
                                    </div>
                                </div>
                                <div
                                    class="knockouts"
                                    *ngIf="stats.knockoutLosses.length > 0"
                                >
                                    <div class="koTitle koTitleMT">
                                        Eliminated by:
                                    </div>
                                    <div
                                        class="knockout"
                                        *ngFor="let k of stats.knockoutLosses"
                                    >
                                        <a
                                            routerLink="../{{ k._id }}"
                                            *ngIf="k._id"
                                            >{{ k.first }} {{ k.last }}</a
                                        >
                                        <div class="gray" *ngIf="!k._id">
                                            Not recorded
                                        </div>
                                        <span>{{ k.total }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stats">
                        <div class="statsSide">
                            <div
                                class="streakHolder"
                                *ngIf="stats?.longestStreak.length > 0"
                            >
                                <div class="title">
                                    Longest Streak
                                    <span *ngIf="stats?.longestStreakActive">
                                        (active)</span
                                    >
                                    {{ stats.longestStreak.length }}:
                                </div>
                                <div
                                    class="streak"
                                    *ngFor="let game of stats.longestStreak"
                                >
                                    <div class="streakGame">
                                        Game:
                                        <a
                                            routerLink="../../games/{{
                                                game._id
                                            }}"
                                            >{{ game.date | date }}</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="statsSide">
                            <div class="highHands" *ngIf="highHands.length > 0">
                                <div class="title">High Hands:</div>
                                <div
                                    class="highHand"
                                    *ngFor="let highHand of highHands"
                                >
                                    <div class="highHandText">
                                        {{ highHand.display }} on
                                        <a
                                            routerLink="../../games/{{
                                                getHighHandId(highHand.g)
                                            }}"
                                            >{{
                                                getHighHandGameDate(highHand.g)
                                                    | date
                                            }}</a
                                        >
                                    </div>
                                    <raven-high-hand
                                        [hand]="highHand"
                                        [linkUpTwo]="true"
                                        [displayHand]="false"
                                        [needsSorting]="true"
                                        [hideSmallText]="true"
                                    ></raven-high-hand>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
