<div id="mainContent">
    <!-- <div class="notFound" *ngIf="noAnnouncement">
        Announcement not found.
    </div> -->
    <!-- <div *ngIf="announcement"> -->
        Announcement here...
    <!-- </div> -->
</div>