// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/scssimports/variables";

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

#mainContent {
    margin-top: $logoHolderHeight;
    margin-left: $menuWidth;
    margin-bottom: 3em;
    padding-left: $menuLeftPad;
    margin-right: $menuLeftPad - 1em;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    // max-width: 740px;
}

#fullContent {
    position: absolute;
    left: $menuWidth;
    right: 0;
}

#fullContentBackground {
    background-color: #f3f5f7;
    padding-top: 1.2em;
}

#fullContentInner {
    margin-bottom: 3em;
    padding-left: $menuLeftPad;
    margin-right: $menuLeftPad;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    max-width: 740px;
}

.mainTitle {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1.4em;

    a {
        color: #aaa;

        &:visited {
            color: #999;
        }

        &:hover {
            color: $red;
        }
    }

    .material-icons {
        margin-left: 8px;
        vertical-align: middle;
        margin-bottom: 3px;
        font-size: 22px;

        &:hover {
            color: $red;
        }
    }
}

.ravenSvg {
    height: 0.7em;
    margin-right: 4px;
}

.mainTitleNoBackLink {
    margin-bottom: 0.4em;
}

a {
    text-decoration: none;
    color: #555;

    i {
        font-size: 16px;
        vertical-align: bottom;
    }

    &:visited {
        color: #555;
    }

    &:hover {
        color: $red;
        text-decoration: underline;
    }
}

.backLink {
    display: block;
    font-size: 13px;
    margin: 0.2em 0 0.4em;
    color: #555;
    text-decoration: none;

    i {
        font-size: 16px;
        vertical-align: bottom;
    }

    &:visited {
        color: #555;
    }

    &:hover {
        color: $red;
    }
}

.leftSide {
    float: left;
    width: $leftWidth;
}

.rightSide {
    margin-left: $leftWidth;
    padding-left: 20px;
}

.title,
.smallTitle {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

.title {
    // font-size: 15px !important;
    // margin: 20px 0 4px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.smallTitle {
    font-size: 13px !important;
}

.statSelector {
    margin: 10px 0;
    text-align: center;
}

.gameDate,
.gamePot,
.gameWinner {
    // display: inline-block;
    // vertical-align: middle;
    font-size: calc(12px + 0.2vw);
}

.gameDate {
    // width: 92px;
    // margin-right: 4px;
    // background: lightblue;
}

.gamePot {
    // width: 100px;
    text-align: right;
    // margin-right: 4px;
    // background: lightblue;
}

// .gameWinner {
//     width: 80px;
//     margin-right: 4px;
// }

.newMessageHolder,
.buttonHolder {
    margin-top: 12px;
    // width: $inputWidthSmackAnn;
    width: 100%;
    // min-width: $inputMinWidthSmackAnn;
    // float: right;
}

.buttonHolder {
    // margin-top: 12px;
    // width: $inputWidthSmackAnn;
    // min-width: $inputMinWidthSmackAnn;
}

.mat-form-field-infix {
    width: auto !important;
}

.stats {
    font-size: calc(11px + 0.1vw);
}

.statVal {
    text-align: right;
}

.statGap {
    height: 8px;
}

.avaHighlight {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: 50%;
    z-index: 4;
    border: 4px solid $online;
    opacity: 1;
    animation: onlinePulse 1.5s ease;
    animation-iteration-count: infinite;
    -webkit-animation: onlinePulse 1.5s ease;
    -webkit-animation-iteration-count: infinite;
}

.avaHighlightThin {
    border: 2px solid $online;
}

.gamePlayerHeading {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

.gamePlayer {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 20% 13% 13% 18% 18% 13%;
    grid-template-rows: 1fr;
    font-size: calc(12px + 0.15vw);
    margin-bottom: 5px;

    .cash {
        text-align: right;
    }
}

.loading {
    font-size: 13px;
}

@keyframes onlinePulse {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes onlinePulse {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: $menuBreak + 240) {
    .mainTitle,
    .mainTitle .material-icons {
        // color: red !important;
        font-size: calc(15px + 0.6vw);
    }

    .mainTitle .material-icons {
        margin-bottom: 0;
    }
}

// @media screen and (max-width: $menuBreak + 120) {
// .mainTitle, .mainTitle .material-icons {
// color: yellow !important;
// font-size: calc(14px + .5vw);
// }
// }

@media screen and (max-width: $menuBreak) {
    #mainContent {
        margin-left: 0;
        // padding-left: 1em;
        // margin-right: 1em;
        margin-top: 2.8em;
    }

    #fullContent {
        left: 0;
        // padding-left: $menuLeftPad;
    }

    // .mainTitle, .mainTitle .material-icons {
    // color: blue !important;
    // font-size: calc(14px + .6vw);
    // }
}

@media screen and (max-width: $menuBreak - 80px) {
    .mainTitle,
    .mainTitle .material-icons {
        // color: green !important;
        font-size: calc(14px + 0.4vw);
    }

    .leftSide,
    .rightSide {
        float: none;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .leftSide {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: $smallerBreak) {
    #mainContent {
        padding-left: 1.2em;
        margin-right: 1.2em;
    }
    #fullContentInner {
        padding-left: 1.2em;
        margin-right: 1.2em;
    }
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.useHand {
    cursor: pointer;
}

.initialCaps {
    text-transform: capitalize;
}

.redText {
    color: $red;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noOpacity {
    opacity: 0;
}

.yearSelect {
    vertical-align: bottom;
    margin-left: 16px;
    padding-top: 0;
}

@media screen and (max-width: 330px) {
    .yearSelect {
        margin-left: 4px;
    }
}

.mat-select-trigger {
    min-width: 60px !important;
}

.gameThin {
    display: none;
}

@media screen and (max-width: 380px) {
    .gameWide {
        display: none;
    }
    .gameThin {
        display: inline;
    }
}
