@import '../../../scssimports/variables';

.name {
    font-size: calc(11px + .3vw);
    margin-bottom: 4px;
}

.cards {
    max-width: 400px;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(5, 1fr);
}

.card {
    padding: 6%;
    border-radius: 6%;
    border: 1px solid #dcdcdc;
    box-shadow: 2px 2px 4px 0 rgba(30,30,30,.1);
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#fafafa 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#fafafa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 );
}

.cardInner {
    position: relative;
    width: 100%;
    padding-top: 150%;
}

.value {
    position: absolute;
    height: 37%;
    top: 6%;
    right: 8%;
}

.suit {
    position: absolute;
    width: 40%;
    left: 8%;
    bottom: 13%;
}

.cardText {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: calc(6px + .15vw);
    font-weight: 300;
    color: #555;
}

@media screen and (max-width: 500px) {
    .cardText {
        display: none;
    }
}