<div *ngIf="hand">
    <div class="name">
        <a routerLink="{{getPlayerLink(hand.p)}}">{{hand.p.first}} {{hand.p.last}}</a><span *ngIf="!linkUpTwo"> - <a routerLink="{{getGameLink(hand.g)}}">{{hand.display}}
                - {{handDate | date}}</a></span><span *ngIf="displayHand">
            - {{hand.display}}</span><span *ngIf="hand.highHandValue"> {{hand.highHandValue | currency:'USD':'symbol':'1.0'}}</span>
    </div>
    <div class="cards" [ngStyle]="extraStyle">
        <div class="card" *ngFor="let card of cards">
            <div class="cardInner">
                <img class="value" [src]="getCardPath(true, card)">
                <img class="suit" [src]="getCardPath(false, card)">
                <div class="cardText" *ngIf="!hideSmallText">The Ravenhurst</div>
            </div>
        </div>
    </div>
</div>