@import '../scssimports/variables';

.logoHolder {
    display: none;
}

.logo {
    width: 80%;
    margin: 2em auto;
    display: block;
}

.latest {
    display: block;
    margin-bottom: 2.4em;
}

@media screen and (max-width: $menuBreak) {
    .logoHolder {
        display: inline;
    }
    // .mainTitle {
    //     display: none;
    // }
}