<div id="mainContent">
    <div class="logoHolder">
        <raven-logo class="logo noSelect"></raven-logo>
    </div>
    <raven-home-announcement></raven-home-announcement>
    <raven-home-latest-results class="latest"></raven-home-latest-results>
</div>