<mat-select
    placeholder="Player"
    name="player"
    [(ngModel)]="hhPlayer"
    (ngModelChange)="playerChanged()"
    [disabled]="saving"
>
    <mat-option *ngFor="let player of players" [value]="player">
        {{ player.first }} {{ player.last }}
    </mat-option>
</mat-select>
<div class="cards">
    <div class="suitGroup" *ngFor="let suit of suits">
        <div
            class="card"
            [ngClass]="{ useHand: !saving }"
            *ngFor="let card of cards"
            (click)="cardClicked(suit, card)"
        >
            <div class="cardInner">
                <img class="value" [src]="getCardPath(true, suit, card)" />
                <img class="suit" [src]="getCardPath(false, suit, card)" />
                <!-- <div class="cardText">The Ravenhurst</div> -->
            </div>
            <div
                class="cover"
                [ngClass]="{ coverHover: !saving }"
                *ngIf="!isCardSelected(suit, card) && !fiveSelected"
            ></div>
            <div
                class="cover coverDark"
                *ngIf="!isCardSelected(suit, card) && fiveSelected"
            ></div>
        </div>
    </div>
</div>
