@import "../../../scssimports/variables";

$gap: 4px;

mat-select {
    margin-top: 20px;
}

.cards {
    margin-top: 20px;
}

.suitGroup {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: repeat(13, 1fr);
    margin-bottom: $gap;
}

.card {
    position: relative;
    padding: 6%;
    border-radius: 6%;
    border: 1px solid #dcdcdc;
    box-shadow: 2px 2px 4px 0 rgba(30, 30, 30, 0.1);
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #fafafa 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #fafafa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 );
}

.cardInner {
    position: relative;
    width: 100%;
    padding-top: 150%;
}

.value {
    position: absolute;
    height: 37%;
    top: 6%;
    right: 8%;
}

.suit {
    position: absolute;
    width: 40%;
    left: 8%;
    bottom: 13%;
}

.cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.15;
    z-index: 4;
}

.coverHover {
    transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -webkit-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
}

.coverHover:hover {
    opacity: 0;
}

.coverDark {
    opacity: 0.4;
}

// .cardText {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     text-align: center;
//     font-size: calc(6px + .15vw);
//     font-weight: 300;
//     color: #555;
// }
