@import '../../scssimports/variables';

$avatar: 28px;

.avatar, .messageSide {
    display: inline-block;
    vertical-align: top;
}

.avatar {
    position: relative;
    width: $avatar;
    height: $avatar;
}

.messageSide {
    margin-left: 5px;
    width: calc(100% - 33px);
}

.messageTop {
    font-size: calc(10px + .2vw);
}

.messageFrom, .date {
    display: inline-block;
    vertical-align: top;
    color: #999;
    line-height: $avatar / 2;
}

.date {
    width: 94px;
}

.messageBottom {

    padding-top: 2px;
    font-size: calc(12px + .1vw);
    line-height: 1.3em;

    button {
        font-size: 12px;
        margin-left: 8px;
        line-height: 20px;
        min-width: 46px;
        padding: 0 2px;
    }
}

.messageImageHolder {

    img {
        // cursor: pointer;
        max-width: 300px;
        max-height: 140px;
    }
}

.today {
    color: blue;
}

@media screen and (max-width: 360px) {
    .date {
        width: 80px;
    }
}

@media screen and (max-width: 300px) {
    .last {
        display: none;
    }
}