<div class="message">
    <div class="avatar">
        <div class="avaHighlight avaHighlightThin" *ngIf="message.player.online"></div>
        <raven-avatar [image]="message.player.afile" [round]="true" *ngIf="message.player.afile"></raven-avatar>
    </div><div class="messageSide">
        <div class="messageTop">
            <div class="date" [ngClass]="{today: today}">
                {{message.date | date:'MM/dd'}} {{message.date | date:'h:mma'}}
            </div><div class="messageFrom">
                <a routerLink="/players/{{message.player._id}}">{{message.player.first}}<span class="last"> {{message.player.last}}</span></a>
            </div>
        </div><div class="messageBottom">
            <span [innerHTML]="message.text"></span><button mat-raised-button (click)="deleteMe()" [disabled]="deleting" *ngIf="myMessage">Delete</button>
        </div><div class="messageImageHolder" *ngIf="message.image">
            <a [href]="message.image" target="_blank"><img [src]="message.image"></a>
        </div>
    </div>
</div>