// @import '../../scssimports/variables';

.statGroup {
    margin-top: 30px;
    // background: red;
}

.statTitle {
    font-weight: 600;
    font-style: italic;
    font-size: calc(19px + .3vw);
}

.graphHolderOuter {
    position: relative;
    width: 100%;
    padding-top: 56.35%;
}

.graphHolder {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.note {
    font-size: 13px;
    margin: 3px 0 6px;
}