<div class="statGroup" (window:scroll)="onScroll($event)" (window:resize)="onResize()">
    <div class="statTitle">{{stat?.stat}}
        <!-- <button mat-button class="floatRight" (click)="downloadStat()">Download</button> -->
    </div>
    <div class="graphHolderOuter">
        <raven-stat-graph class="graphHolder" [data]="myGraphData" [prop]="stat.prop" [resize]="resize" *ngIf="graphDataGenerated"></raven-stat-graph>
    </div>
    <div class="note" *ngIf="stat.notes">Note: {{stat.notes}}</div>
</div>