@import "../../../scssimports/variables";

a {
    display: grid;
    width: 100%;
    // text-align: right;
    grid-gap: 0;
    grid-template-columns: 20px 1fr;
}

.right {
    text-align: right;
}

.elimos {
    margin-top: 1em;
}
