<div class="stats" *ngIf="stats">
    <!-- <div class="statLine">
        <div class="statVal">{{stats.totalGamesForYear}}</div>
    </div> -->
    <div class="statLine">
        <div class="statVal">
            {{ stats.overallNet | currency: "USD":"symbol":"1.2-2" }}
        </div>
    </div>
    <div class="statLine">
        <div class="statVal">
            {{ stats.netRatio | currency: "USD":"symbol":"1.2-2" }}
        </div>
    </div>
    <div class="statGap"></div>
    <div class="statLine">
        <div class="statVal">{{ stats.totalEntries }}</div>
    </div>
    <div class="statLine">
        <div class="statVal">
            {{ (stats.attendance | percent: "1.0-2") || "-" }}
        </div>
    </div>
    <div class="statLine">
        <div class="statVal">{{ stats.totalRebuys }}</div>
    </div>
    <div class="statLine">
        <div class="statVal">{{ stats.totalGamesWithoutRebuy }}</div>
    </div>
    <div class="statGap"></div>
    <div class="statLine">
        <div class="statVal">{{ stats.totalPoints }}</div>
    </div>
    <div class="statLine">
        <div class="statVal">{{ stats.totalWinsWithoutRebuy }}</div>
    </div>
    <div class="statLine">
        <div class="statVal">{{ stats.totalThirdPlaceFinishes }}</div>
    </div>
    <div class="statLine">
        <div class="statVal">
            {{ (stats.winPercent | percent: "1.0-2") || "-" }}
        </div>
    </div>
    <div class="statLine">
        <div class="statVal">{{ stats.longestStreakLength }}</div>
    </div>
    <div class="statGap"></div>
    <div class="statLine">
        <div class="statVal">
            {{ stats.totalEntryCost | currency: "USD":"symbol":"1.2-2" }}
        </div>
    </div>
    <div class="statLine">
        <div class="statVal">{{ stats.buyinRatio | number: "1.2-2" }}</div>
    </div>
    <div class="statLine">
        <div class="statVal">
            {{ stats.highestCash | currency: "USD":"symbol":"1.2-2" }}
        </div>
    </div>
    <div class="statLine">
        <div class="statVal">
            {{ stats.totalPotMoneyWon | currency: "USD":"symbol":"1.2-2" }}
        </div>
    </div>
    <div class="statLine">
        <div class="statVal">
            {{ stats.potNet | currency: "USD":"symbol":"1.2-2" }}
        </div>
    </div>
    <div class="statGap"></div>
    <div class="statLine">
        <div class="statVal">{{ stats.bountiesWon }}</div>
    </div>
    <div class="statLine">
        <div class="statVal">{{ stats.bountiesLost }}</div>
    </div>
    <div class="statLine">
        <div class="statVal">
            {{ stats.bountiesNet | currency: "USD":"symbol":"1.2-2" }}
        </div>
    </div>
    <div class="statGap"></div>
    <div class="statLine">
        <div class="statVal">{{ stats.totalHighHandEntries }}</div>
    </div>
    <div class="statLine">
        <div class="statVal">{{ stats.highHands.length }}</div>
    </div>
    <div class="statLine">
        <div class="statVal">
            {{ stats.highHandsNet | currency: "USD":"symbol":"1.2-2" }}
        </div>
    </div>
    <div class="statGap"></div>
    <div class="statLine">
        <div class="statVal">{{ stats.totalEliminations }}</div>
    </div>
    <div class="statLine">
        <div class="statVal">{{ stats.mostKos }}</div>
    </div>
    <div class="statLine">
        <div class="statVal">{{ stats.totalEliminated }}</div>
    </div>
    <div class="statLine">
        <div class="statVal">{{ stats.knockoutRatio | number: "1.2-2" }}</div>
    </div>
    <div class="statGap"></div>
    <div class="statLine">
        <div class="statVal">{{ eliminatedOponentKnockouts.length }}</div>
    </div>
    <div class="statGap"></div>
    <div class="statLine elimos">
        <a
            routerLink="/games/{{ ko.gid }}"
            class="statVal"
            *ngFor="let ko of eliminatedOponentKnockouts; let i = index"
        >
            <div>{{ i + 1 }})</div>
            <div class="right">{{ ko.date | date }}</div>
        </a>
    </div>
</div>
