<div class="player smallTitle" *ngIf="i == 0">
    <div class="points">
        Points
    </div>
    <div class="name">
        Player
    </div>
    <div class="cash floatRight">
        Win
    </div>
</div>
<div class="player" [ngClass]="{ alive: player.alive, dead: !player.alive }">
    <div class="points">
        <mat-slide-toggle
            class="example-margin"
            [color]="'primary'"
            [checked]="myEntry.pt"
            [disabled]="false"
            (change)="saveEntry($event)"
        ></mat-slide-toggle>
    </div>
    <div class="name useHand" (click)="moneyShowing = !moneyShowing">
        {{ player.first }} {{ player.last }} ({{ myEntry.b }})
    </div>
    <div class="cash useHand floatRight" (click)="moneyShowing = !moneyShowing">
        ${{ myEntry.c }}
    </div>
</div>
<div class="money" *ngIf="moneyShowing">
    <div class="points"></div>
    <div class="name">
        <mat-form-field class="full-width">
            <input
                matInput
                [placeholder]="'Cash'"
                [(ngModel)]="myEntry.c"
                (change)="cashChanged()"
            />
        </mat-form-field>
    </div>
</div>
