@import '../../../scssimports/variables';

$pointsWidth: 50px;
$doublePoints: $pointsWidth * 2;

.player {
    margin-bottom: 12px;
    width: 50%;
    font-size: 15px;
}

.dead .name {
    color: #aaa;
}

.name, .points, .cash {
    display: inline-block;
    vertical-align: top;
}

.points {
    width: $pointsWidth;
}

.cash {
    width: $pointsWidth;
}

@media screen and (max-width: $menuBreak + 140) {

    .player {
        width: 100%;
    }
}